body {
    background-color: rgb(255, 255, 165);
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f8c6d0;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 2px 4px #888888;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.link-button:hover {
    background-color: #f48fb1; 
    box-shadow: 2px 4px #666666;
}
